In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('test1_modify2.csv')
df.head()

              datetime     type gender  age
0  2019-12-01 00:00:00  regular      U  10s
1  2019-12-01 00:00:00  regular      U  10s
2  2019-12-01 00:00:00  regular      U  10s
3  2019-12-01 00:00:00  regular      U  10s
4  2019-12-01 00:00:00  regular      U  10s

In [66]:
df[['datetime', 'type','count']].groupby(['datetime', 'type']).agg({'count':'sum'}).unstack(level=1).fillna(0).reset_index()

                  datetime  count
type                       casual group regular
0      2017-01-01 00:00:00   13.0   1.0    63.0
1      2017-01-01 01:00:00   21.0   0.0    55.0
2      2017-01-01 02:00:00   19.0   0.0    38.0
3      2017-01-01 03:00:00   12.0   0.0    22.0
4      2017-01-01 04:00:00    7.0   0.0    16.0
...                    ...    ...   ...     ...
35346  2021-01-31 19:00:00  531.0  13.0  1346.0
35347  2021-01-31 20:00:00  589.0   7.0  1298.0
35348  2021-01-31 21:00:00  594.0  13.0  1229.0
35349  2021-01-31 22:00:00  283.0  10.0   750.0
35350  2021-01-31 23:00:00  192.0   6.0   496.0

[35351 rows x 4 columns]

In [68]:
df_count

type                 casual  group  regular
datetime
2017-01-01 00:00:00    13.0    1.0     63.0
2017-01-01 01:00:00    21.0    NaN     55.0
2017-01-01 02:00:00    19.0    NaN     38.0
2017-01-01 03:00:00    12.0    NaN     22.0
2017-01-01 04:00:00     7.0    NaN     16.0
...                     ...    ...      ...
2021-01-31 19:00:00   531.0   13.0   1346.0
2021-01-31 20:00:00   589.0    7.0   1298.0
2021-01-31 21:00:00   594.0   13.0   1229.0
2021-01-31 22:00:00   283.0   10.0    750.0
2021-01-31 23:00:00   192.0    6.0    496.0

[35351 rows x 3 columns]